.jumbotron{
    width: 100%;
    background-image: url("https://cdn-images-1.medium.com/max/979/1*cHv3GloBXiaWQ1Y8TVW7Ew.png");
    background-repeat: no-repeat;
    background-color: #121119;
    height: 280px;
}